body {
  background-color: #b3d4fc;
}
h1 {
  font-style: italic;
}
h2 {
  font-style: italic;
  text-align: center;
}
p {
  font-family: "Comic Sans MS";
  color: crimson;
}

h1 {
  text-decoration: underline;
}
h1 {
  text-align: center;
}
ol {
  color: darkcyan;
  list-style: square;
}
ul {
  color: darkorchid;
  list-style: lower-latin;
}
