
body{
  background-color: black;

}
a{
  color: white;
  text-decoration: none;
}

h1{
  text-align: center;
  color: deeppink;
}
.slideshow-container{
  width: 540px;
  margin:40px auto;
  overflow: auto;
  /*postion: relative;*/
}

/*.bottom-left {*/
/*  position: absolute;*/
/*  bottom: 8px;*/
/*  left: 16px;*/
/*}*/
/*.text-block {*/
/*  position: absolute;*/
/*  bottom: 100px;*/
/*  left: 100px;*/
/*  !*background-color: black;*!*/
/*  color: white;*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*  !*text-align: center;*!*/
/*}*/
.my-slide-image img{
  width: auto;
  height: auto;
  /*width:500px;*/
  /*height: 300px;*/
  position: relative;
  float: left;
  overflow: hidden;
  padding: 5px;
}
.my-slide-image img{
  display: none;
  width: 300px;
  height: 300px;
}
.my-slide-image img.active{
  display: inline-block;
}
.prev,.next{
  float: left;
  margin-top: 130px;
  cursor: pointer;
}
.prev {
  postion: relative;
  margin-right: -45px;
  z-index: 100;
}
.next {
  postion: relative;
  margin-left: -45px;
  z-index: 100;
}
