body {

  background-color: #b3d4fc;
  padding: 10px;
  margin: 60px;
  position: absolute;
  top: 20px;
}
body{
  background-color: #999999;
  padding: 10px;
  margin: 0px;
  position: center;
  top: 100px;
}

h1 {
  text-align: center;
}



